$height: 20px;

:host {
  display: grid;
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, .08);
  color: #111;
  height: 220px;
  width: 100%;
  box-sizing: border-box;
  grid-template-rows: 29px auto;

  header {
    height: 28px;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
    padding: 0 16px;
    line-height: 28px;
    font-size: 9pt;
    letter-spacing: .1px;
    font-weight: 500;

    input {
      border: 1px solid rgba(0,0,0,.08);
      border-radius: 0;
      padding: 0 4px;
      outline: none;
      line-height: 20px;
      height: 20px;
    }
  }

  .scroll-container {
    overflow: auto;

    .log {
      display: grid;
      line-height: $height;
      color: #111;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      box-sizing: border-box;
      padding: 0 16px 0 0;
      font-size: 9pt;
      margin: 2px 0;
      grid-template-columns: max-content 1fr max-content;
    
      &.error {
        color: red;
      }

      mat-icon {
        font-size: 10pt;
        height: $height;
        line-height: $height;
        text-align: center;
        color: #00229a;
        font-weight: 700;
        width: 16px;
      }

      >div {
        display: inline-block;
        vertical-align: top;
      }

      .msg {
      }

      .timestamp {

      }

      .node {
        height: $height;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 2px;
        margin-right: 4px;
        border-radius: 2px;
        background: #f2dddd;
      }
    }
  }
}
