<div fxLayout="column" fxFlex>
  <app-system-header></app-system-header>
  <app-header [designer]="designer"></app-header>

  <div fxLayout="row" fxFlex>
    <app-node-repository (instantiate)="addNode($event)"></app-node-repository>
    <div class="designer">
      <canvas></canvas>
      <canvas></canvas>
    </div>
    <app-node-details *ngIf="designer && designer.selectedNode" [node]="designer?.selectedNode"></app-node-details>
  </div>
  <div fxLayout="row">
    <app-marbles></app-marbles>
    <app-logs></app-logs>
  </div>
</div>