<header fxLayout="row" fxLayoutAlign="center center">
  <span fxFlex>{{node.title}}</span>
  <div class="btn">
    <mat-icon (click)="close()">close</mat-icon>
  </div>
</header>
<div class="description">
  {{node.description}}
</div>
<div class="label">
  <div class="input">
    <mat-icon>title</mat-icon>
    <input type="text" #label placeholder="Label">
  </div>
</div>
<div class="sub-title" *ngIf="node.inputs.length > 0">Inputs</div>

<div class="inputs">
  <ng-container *ngFor="let input of node.inputs; let i = index">
    <app-node-input [designer]="designer" [node]="node" [index]="i"></app-node-input>
  </ng-container>
</div>

<div class="sub-title">Outputs</div>
<div class="output" fxLayoutAlign="center center" fxLayout="row" *ngFor="let output of node.outputs; let i = index">
  <div class="index">{{i}}:</div>
  <div class="name" fxFlex>{{output.name}}</div>
</div>
<div class="actions">
  <div class="btn" matRipple (click)="removeNode()">remove node</div>
</div>
