:host {
  display: block;
  width: 380px;
  color: #111;
  border-left: 1px solid rgba(0, 0, 0, .08);
  background: #fff;

  .content {
    padding: 0 16px;
  }

  header {
    height: 28px;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
    padding: 0 16px;
    line-height: 28px;
    font-size: 9pt;
    letter-spacing: .1px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .sub-title {
    font-size: 12px;
    color: #111;
    height: 28px;
    line-height: 28px;
    padding: 0 16px;
    margin-bottom: 4px;
  }

  .description {
    color: #111;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 22px;
  }

  .input {
    padding: 8px;
    font-size: 12px;
    border: 1px solid rgba(0,0,0,.1);
    background: rgba(0,0,0,.04);
    margin: 0 16px 8px;
    border-radius: 4px;

    .index {
      padding-right: 8px;
      letter-spacing: 4px;
      line-height: 28px;
    }

    .name {
      padding-right: 16px;
      line-height: 28px;
    }

    input {
      padding: 0 8px;
      margin: 0;
      border: 1px solid rgba(0,0,0,.1);
      outline: none;
      background: rgba(0,0,0,.04);
      line-height: 28px;
      color: #fff;
      font-family: 'Roboto';
      font-weight: 300;
      font-size: 12px;
      width: 100%;
      box-sizing: border-box;

      &:focus {
        background: transparent;
      }
    }
  }

  .output {
    padding: 8px;
    font-size: 12px;
    border: 1px solid rgba(0,0,0,.1);
    background: rgba(0,0,0,.04);
    margin: 0 16px 8px;
    border-radius: 4px;

    .index {
      padding-right: 8px;
      letter-spacing: 4px;
    }

    .name {
      padding-right: 16px;
    }
  }
}
