<!-- <header>Node Repository</header> -->
<div class="search">
  <input type="text" #label placeholder="Search Nodes">
</div>
<div class="group" [class.show]="showGroup(group)" *ngFor="let group of nodeGroups">
  <div fxLayout="row" fxLayoutAlign="center center" class="group-title"
    (click)="toggle(group)">
    <mat-icon class="expand">expand_more</mat-icon>
    <mat-icon [style.color]="group.color">{{group.icon}}</mat-icon>
    <span fxFlex>{{group.title}}</span>
  </div>
  <div class="group-content">
    <div class="node" *ngFor="let node of group.nodes" (click)="addNode(node)">
      {{node.TITLE}}
    </div>
  </div>
</div>
