:host {
  display: block;
  color: #111;
  background: #fff;
  font-size: 9pt;
  letter-spacing: .1px;

  header {
    height: 28px;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
    padding: 0 16px;
    line-height: 28px;
    font-size: 9pt;
    letter-spacing: .1px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .group {
    height: 28px;
    overflow: hidden;

    &.show {
      height: auto;

      .group-title > mat-icon.expand {
        transform: rotate(0);
      }
    }

    .group-title {
      height: 28px;
      line-height: 28px;
      padding: 0 8px;
      cursor: default;

      &:hover {
        mat-icon.expand {
          color: #111;
        }
      }

      mat-icon {
        height: 28px;
        line-height: 28px;

        &.expand {
          transition: transform .1s ease;
          transform: rotate(-90deg);
          color: #aaa;
        }
      }

      span {
        padding-left: 4px;
        font-weight: 500;
      }
    }

    .group-content {
      padding: 0 16px;
    }

    .node {
      display: block;
      height: 28px;
      line-height: 28px;
      padding: 0 16px;
      cursor: pointer;
      border-radius: 0;
      text-align: left;
      margin: 4px;
      display: block;
      border-radius: 4px;

      &:hover {
        background-color: #f4f4f8;
      }

      &:active {
        background-color: #f0f0f4;
      }
    }
  }
}
