:host {
    display: block;
    width: 260px;
    color: #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.04);

    .title {
        font-size: 14px;
        height: 28px;
        line-height: 28px;
        color: #aaa;
        padding: 0 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.04);
        margin-bottom: 4px;
        background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.2));
    }

    .node {
        display: block;
        font-size: 14px;
        height: 28px;
        line-height: 28px;
        padding: 0 16px;
        cursor: pointer;
        border-radius: 0;
        text-align: left;
        margin: 4px;
        display: block;

        &:hover {
        }
    }
}